#!/bin/bash
# modify to your needs
# backup files are being deleted that are older than
basepath="/etc/tartarus"
ageindays=7
ftppass=""
ftpuser=""
ftphost=""
# give your hostname, not fqdn
hostnameshort=""
# give shortcut names to what you would like to save
backuplist="etc opt root usrlocal varvmail"

# modify only if you know what you're doing
LOGTAG="tartarusbash"
enckeyfile="backup.sec"
